
{% block login %}

    <h3 class="mb-4">Connectez-vous</h2>

    {% if form.errors %}
    <p>Le nom d'utilisateur et le mot de passe ne correspondent pas. Veuillez réessayer.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-floating mb-4">
            <input type="username" class="form-control" id="id_username" name="username" autocomplete=username placeholder="Nom d'utilisateur">
            <label for="id_username">Nom d'utilisateur</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="id_password" name="password" autocomplete=new-password placeholder="Mot de passe">
            <label for="id_password">Mot de passe</label>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>


{% endblock %}