{% extends 'main.html'%}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm mb-5">
                <h3 class="mb-4 text-center">Créer une critique</h3>
                
                {% if ticket %}
                    {% include 'books/ticket_card.html'%}
                    {% block ticket_card %}

                    {% endblock %}
                {% endif %}

                {% if id_ticket %}
                
                <form method="post" enctype="multipart/form-data" action="{% url 'books:add_review' id_ticket %}">

                {% else %}

                <form method="post" enctype="multipart/form-data" action="{% url 'books:add_review' %}">

                {% endif %}
                    {% csrf_token %}

                    {% if not ticket %}

                    <fieldset class="mb-3">
                        <legend>Livre / Article</legend> 
                        {{ form_ticket|crispy }}
                    </fieldset>
                    {% endif %}

                    <fieldset  class="mb-3">
                        <legend>Critique</legend> 
                        {{ form_review|crispy }}
                    </fieldset>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </script>

{% endblock %}