{% extends 'main.html'%}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm mb-5">
                {% include 'books/ticket_card.html' with ticket=review.ticket %}
                {% block ticket_card %}

                {% endblock %}
            </div>
        </div>               
        <div class="row align-items-center">
            <div class="col-sm mb-5">
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form|crispy }}
                    </div>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}