{% extends 'main.html'%}
{% load crispy_forms_tags %}
{% block content %}

<div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="card-header">
        {{review.user}} a posté une critique - <small class="text-muted">{{ review.time_created }}</small>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ review.headline }} - {% for i in review.rating %}★{% endfor %}</h5>
        <p class="card-text">{{ review.body }}</p>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="card-header">
                Ticket - {{review.ticket.user}}
            </div>
            <div class="row g-0">
            {% if review.ticket.image %}
                <div class="col-md-4">
                    <img src="{{ get_media_prefix }}{{ review.ticket.image.url }}" alt="Image" class="img-thumbnail border-0">
                </div>
            {% endif %}
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.ticket.title }}</a></h5>
                        <p class="card-text">{{ review.ticket.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="card-body">
        <h5 class="card-title">Confirmez vous la suppression de cette critique ?</h5>
        <p class="card-text text-info"><small>Le ticket associé sera conservé.</small></p>
        <form method="post">{% csrf_token %} 
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Confirmer</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}