<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>LITReview Home Page</title>
    </head>
    <body>
        <div class="bg-dark mb-4">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-md navbar-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{% url 'users:home' %}">
                                {% load static %}
                                <img src="{% static 'logo.png' %}" alt="logo" class="me-2" style="filter: invert(100%); max-height: 40px;">
                                LITReview
                            </a>
                            {% if user.is_authenticated %}
                            
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="navbarContent" class="collapse navbar-collapse">
                                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'books:feed'%}">Flux</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{%url 'books:posts' %}">Posts</a>
                                    </li>                                                                          
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'books:sub' %}">Abonnements</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users:logout' %}?next={{request.path}}">Se déconnecter</a>
                                    </li>
                                </ul>
                                <span class="navbar-text">
                                    Bienvenue, {{ request.user }}!
                                </span>
                            </div>
                            
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container">

    {% block content %}



    {% endblock %}

        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>